.editorPage {
  background: #000000;
  padding: 30px;
  min-height: 100vh;
  padding-top: 20px;
}

.editorHeader {
  background: #1c1b1b;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editorHeader h2 {
  background: #ff4500;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 5px 8px;
}

.editorPage .container {
  display: flex;
}

.editorPage .left {
  width: 40%;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #262626bf;
  padding: 20px;
  padding-right: 40px;
  margin-right: 20px;
}

.editorPage .leftHeader {
  background: #000000;
  padding: 0px;
}

.leftHeader .buttons button {
  background: #217eff;
  border: none;
  padding: 8px 5px;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.leftHeader .navButton {
  margin-top: 10px;
  margin-bottom: 20px;
}

.left h2 {
  color: #fdfdfd;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.left p {
  color: #fdfdfd;
  font-size: 15px;
  line-height: 22px;
  margin: 10px 0px;
}

.left .run {
  position: absolute;
  bottom: 45px;
  left: 50px;
  width: 36%;
  padding: 10px;
  background: #1c1b1b;
}

.run button {
  border: none;
  background: #494949 !important;
  border-radius: 5px;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #fdfdfd;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  width: fit-content;
}

.run button:hover {
  background: #414141bf;
}

.run .submit {
  position: absolute;
  right: 30px;
  background: #008000 !important;
  width: fit-content !important;
}

.run .submit:hover {
  background: #006100 !important;
}

.editorPage .right {
  width: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.right button {
  background: #217eff;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0px 5px;
  font-size: 16px;
  color: #fdfdfd;
  height: 37px;
  width: 60px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  width: fit-content;
}

.right button:hover {
  background: #c43400 !important;
}

.options select {
  border: none;
  background: #262626bf;
  border-radius: 5px;
  outline: none;
  padding: 8px 5px;
  font-size: 16px;
  color: #fdfdfd;
}

.left .buttons {
  margin-bottom: 10px;
}

.left .buttons button {
  border: none;
  background: #4d4d4d;
  border-radius: 5px;
  outline: none;
  padding: 10px 5px;
  font-size: 14px;
  color: #fdfdfd;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  width: fit-content;
}

.left .buttons .navButton {
  padding: 10px 12px;
  background: #008000 !important;
}

.editorPage .rightContainer {
  position: relative;
}

.output {
  position: absolute;
  background: #2b2b2b;
  height: 200px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 59%;
  margin-left: 41%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  overflow-x: hidden;
  overflow-y: auto;
}

.output .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fdfdfd;
  cursor: pointer;
  font-size: 20px;
}

.hideOutput {
  display: none;
}

.buttons .activeQuestion {
  background: #217eff !important;
}

.editorPage .editor {
  height: 80vh !important;
}

.editorPage .accepted {
  color: #41f541;
  padding: 25px;
  font-weight: 500;
}

.editorPage .notAccepted {
  color: #ff581b;
  padding: 25px;
  font-weight: 500;
}

.editorPage h5 {
  color: #000000;
  background: #fff200;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
}
